@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/css';

:root {
  --background: rgb(255,255,255);
  --color: #000;
}

.dark {
  --background: rgb(27,27,27);
  --color: #fff;
}

body {
  color: var(--color);
  background: var(--background);
  -webkit-tap-highlight-color: transparent;
}

body.no-scroll {
  position: fixed;
}

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

.btn {
  @apply whitespace-nowrap select-none outline-none touch-none;
}

.btn.btn-primary:not([disabled]):not(.text):not(.icon) {
  @apply bg-indigo-600 hover:bg-indigo-500 text-white shadow-sm transition-all;
}

.btn.btn-dark:not([disabled]):not(.text):not(.icon) {
  @apply bg-black hover:bg-zinc-800 text-white shadow-sm transition-all;
}

.btn.btn-light:not([disabled]):not(.text):not(.icon) {
  @apply bg-white hover:bg-zinc-100 text-black shadow-sm transition-all;
}

.btn:not(.icon) {
  @apply text-sm leading-6 rounded-md px-3.5 py-2;
}

.btn.icon {
  @apply flexCenter rounded-full w-[36px] h-[36px] theme-hover-dark;
}

.btn.icon svg {
  width: 16px;
  height: 16px;
}

button:disabled, .btn.disabled {
  @apply bg-zinc-400/50 opacity-50 pointer-events-none;
}

input, textarea {
  @apply w-full border-b outline-0 transition-all py-1;
}

input:not(.error), textarea:not(.error) {
  background: none;
  @apply border-zinc-400 focus:border-indigo-600;
}

input.error, textarea.error {
  @apply border-red-500;
}

input[type='file'] {
  display: none;
}

.label {
  @apply block text-sm
}

.required .label {
  @apply after:content-['*'] after:ml-0.5 after:text-red-500
}

.theme-hover {
  @apply hover:bg-[rgb(244,244,244)] dark:hover:bg-[rgb(91,91,91)]
}

.theme-hover-dark {
  @apply hover:bg-black/10 hover:dark:bg-white/10
}

.theme-bg {
  @apply bg-white dark:bg-[#232323]
}

.theme-devide {
  @apply divide-zinc-200 dark:divide-zinc-500
}

.primary {
  @apply bg-indigo-600 hover:bg-indigo-500 focus-visible:outline-indigo-600 text-white;
}

.primary--text {
  @apply text-indigo-600;
}

.default--text {
  @apply text-zinc-400;
}
.error--text {
  @apply text-red-500;
}

.text-h1 {
  @apply text-3xl;
}

.text-h3 {
  @apply text-2xl;
}

.text-h5 {
  @apply text-xl;
}

.text-subtitle {
  @apply text-lg;
}

.text-body {
  @apply text-base;
}

.text-caption {
  @apply text-sm;
}

.gridCenter {
  @apply grid justify-center items-center;
}

.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

.flexStart {
  @apply flex items-center justify-start;
}

.flexEnd {
  @apply flex items-end justify-start;
}

.paddings {
  @apply px-5 lg:px-20 pt-6 lg:pt-10 pb-20;
}

.navbar {
  @apply fixed top-0 inset-x-0 z-10 flexBetween h-[60px] sm:h-[70px] bg-indigo-600 dark:bg-zinc-900 shadow-md shadow-black/20 gap-4 px-2 sm:px-8;
}

.drawer-menu-link {
  @apply relative bg-center bg-cover;
}

.drawer-menu-link::before {
  content: '';
  @apply absolute inset-0 bg-black/60;
}

.drawer-menu-link li {
  position: relative;
}

.drawer-menu-link:nth-child(1) {
  background-image: url('/images/inspiration.jpg');
}

.drawer-menu-link:nth-child(2) {
  background-image: url('/images/find-projects.jpg');
}

.drawer-menu-link:nth-child(3) {
  background-image: url('/images/learn-development.jpg');
}

.drawer-menu-link:nth-child(4) {
  background-image: url('/images/career-advancement.jpg');
}

.drawer-menu-link:nth-child(5) {
  background-image: url('/images/hire-developers.jpg');
}

.avatar {
  @apply grid bg-black dark:bg-white text-white dark:text-black justify-center items-center w-[48px] h-[48px] rounded-full select-none cursor-pointer;
}

.select.active .text-field .append-icon {
  transform: rotate(180deg) translateY(50%);
}

.select-menu {
  @apply absolute top-full left-0 w-full shadow shadow-black/20 bg-white rounded-sm max-h-[200px] overflow-y-scroll py-2;
}

.menu_item {
  @apply flex items-center px-4 py-3 w-full cursor-pointer transition duration-150 ease-out theme-hover hover:ease-in;
}

.text-field .prepend-icon, .text-field .append-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  @apply cursor-pointer transition-all duration-200;
}

.text-field .prepend-icon {
  left: 0;
}

.text-field .append-icon {
  right: 0;
}

.card-grid {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4
}
